@use '../mixins/breakpoint' as v;

#price-section{
    min-height: 100vh;
    width: 100%;
    background-image: url('../assets/images/building.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;

     #overlay{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.445);
        z-index: 1;
    }

    h2{
        position: relative;
        z-index: 999;
        color: white;

        span{
            color: rgba(223, 255, 41, 1);
        }
    }
}