@use "../mixins/breakpoint" as v;

html{
  scroll-behavior: smooth;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: 'Robot', sans-serif;
}

